*

# Files
!Cargo.lock
!Cargo.toml
!Makefile
!opengauss.mk
!rust-toolchain.toml
!scripts/ninstall.sh
!docker-compose/run-tests.sh

# Directories
!.cargo/
!.cargo-cache/
!.cargo-cache/git/
!.cargo-cache/registry/
!.config/
!compute/
!compute_tools/
!control_plane/
!docker-compose/ext-src
!libs/
!pageserver/
!pgxn/
!proxy/
!endpoint_storage/
!storage_scrubber/
!safekeeper/
!storage_broker/
!storage_controller/
!vendor/
vendor/postgres-v14/
vendor/postgres-v15/
vendor/postgres-v16/
vendor/postgres-v17/
!vendor/diesel-async-0.5.2/
!vendor/openGauss/
!vendor/openGauss-connector-rust/
!workspace_hack/
!build-tools/patches

# Exclude large local build artifacts from Docker build context.
target/
build/
og_install/
vendor/openGauss/tmp_build/
vendor/openGauss/mppdb_temp_install/
.cargo-cache/**
!.cargo-cache/git/
!.cargo-cache/git/**
!.cargo-cache/registry/
!.cargo-cache/registry/**
